.slider-body{
    &__wrapper{
        height: 100%;
        padding: 30px;
        background: @white-background-color;

            @media screen and (max-width: 685px) {
                padding: 30px 10px 30px 10px;
            }
    }

    .slider{
        position: relative;

        &__item {
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }

    /* ограничевающая оболочка */
    .slick-list{
        overflow: hidden;
        border-radius: 16px;
        box-shadow: 1px 3px 30px #6666667c;
    }

    /* лента слайдов */
    .slick-track{
        display: flex;
    }

    .slick-arrow{
    position: absolute;
    top: 40%;
    z-index: 100;
    font-size: 0;  /*чтобы пропали надписи на стрелках*/
    width: 50px;
    height: 55px;
    border: none;
    cursor: pointer;
        &.slick-prev{
            left: 2%;
            z-index: 1000;
            background: url('/src/core/assets/icons/arrow-arrow-left.svg') 0 0 / 100% no-repeat;
        }
        &.slick-next{
            right: 2%;
            z-index: 1000;
            background: url('/src/core/assets/icons/arrow-arrow-right.svg') 0 0 / 100% no-repeat;
        }
    }

    .slick-dots{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;

            @media screen and (max-width: 530px) {
                margin-top: -10px;
            }

        li{
            margin: 0 10px;

                @media screen and (max-width: 530px) {
                    margin: 0 5px;
                }
        
            &.slick-active button{
                background-color: @dark-active-arrow-slider-background-color;
                width: 15px;
                height: 15px;

                @media screen and (max-width: 530px) {
                    width: 11px;
                    height: 11px;
                }
            }
        }

        button{
            font-size: 0; /*чтобы пропали надписи на точках*/
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: @dark-buttton-slider-background-color;
            border: none;

                @media screen and (max-width: 530px) {
                    width: 9px;
                    height: 9px;
                }
        }
    }
}

