.open-modal-btn{
    background-color: #8570BD;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 45px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 20px;
    position: relative;
}
.cart__counter {
	position: absolute;
    left: 113px;
    top: 10px;
	background-color: #de707b;
	border-radius: 100%;
	padding: 2px;
	color: #fff;
	font-size: 12px;
	min-height: 16px;
	min-width: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}


.cart-modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.216);
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.cart-modal__box{
    position: relative;
    max-width: 800px;
    min-width: 400px;
    padding: 45px;
    z-index: 1;
    background-color: #fff;
    border-radius: 25px;
}

.cart-modal.open{
    opacity: 1;
    visibility: visible;
}

.cart-modal__close-btn{
    border: none;
    background: transparent;
    position: absolute;
    top: 2%; /*8px;*/
    right: 2%; /*8px;*/
    padding: 5px;
    cursor: pointer;
}

.cart-modal__close-btn svg path{
    transition: fill 0.4s;
}

.cart-modal__close-btn:hover svg path{
    fill: blueviolet;
}

.cart-modal__close-btn:active svg path{
    fill: rgb(121, 2, 232);
}

.cart-modal__top{
    display: flex;
    align-items: center;
    justify-content: space-between;}

.cart-modal__top-text h2{
    font-size: 28px;
    line-height: 33px;
}

.btn-clear-all{
    background-color: #8570BD;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 45px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-clear-all:hover{
    background-color: #9e87de;
}

.cart-modal__item{
    display: flex;
    padding: 12px 0;
}
.cart-modal__item-img{
    max-width: 100px;
}

.cart-modal__item-descr,
.cart-modal__item-price{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 0 15px;
    padding: 0 30px;
}

.cart-modal__item-counters{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.cart-modal__item-counters button{
    border: 1px solid #808080;
    background-color: #ffffff;
    border-radius: 50%;
    width: 24px;
    text-align: center;
    cursor: pointer;
}

.cart-counter-input{
    width: 32px;
    height: 32px;
    text-align: center;
    border: none;
    color: #1a1a1a;
    background: transparent;
}

.cart-btn-delete{
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-top: 1px;
}

.cart-btn-delete svg path{
    transition: fill 0.4s;
}

.cart-btn-delete:hover svg path{
    fill: rgb(226, 43, 110);
}


.cart-modal__full-price{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    font-size: 23px;
    line-height: 24px;
    margin: 10px 0;
}

.full-price{
    margin-right: 70px;
}
